<div>
  <div class="grid grid-3col">
    <img src="systems/aff2e/assets/logos/ff.webp" alt="Fighting Fantasy" />
    <img src="systems/aff2e/assets/components/aff-logo.webp" alt="Advanced Fighting Fantasy - 2nd Edition" />
    <img src="systems/aff2e/assets/logos/arion-games.webp" alt="Arion Games" />
  </div>
  <p><strong>Fighting Fantasy</strong> is © Steve Jackson and Ian Livingstone all rights reserved</strong></p>
  <p><strong>Fighting Fantasy,</strong> including the Fighting Fantasy shield, is a trademark of Steve Jackson and Ian Livingstone</p>
  <p><strong>Advanced Fighting Fantasy</strong> is published under license by Arion Games</p>
  <p><strong>Advanced Fighting Fantasy for Foundry VTT</strong> developed by Hod Publishing</p>
  <a href="https://hodpub.com">
    <img src="systems/aff2e/assets/logos/hod-publishing.webp" alt="Hod Publishing" class="hod no-popup" />
  </a>
</div>