<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  {{formGroup systemFields.value value=system.value}}
  {{formGroup systemFields.consumesComponent value=system.consumesComponent}}
  {{formGroup systemFields.component value=system.component}}
</section>