<div class="cantrips">
  <div class="item-title">
    <label>{{localize "AFF.Cantrips"}}</label>
  </div>
  <div class="list scrollable">
    {{#each cantrips as | item |}}
    {{> "systems/aff2e/templates/actor/item.hbs" item=item}}
    {{/each}}
  </div>
</div>