<div>
  <img class="logo" src="systems/aff2e/assets/components/aff-logo.webp" />
  <div class="form-group title">
    <label style="text-align: center; width: 100%; font-size: 18px;">{{localize (concat "TYPES.Actor." actor.type)}}</label>
    <input class="simple" name='name' type='text' value='{{actor.name}}' placeholder='Name' />
  </div>
  <div class="profile-img">
    <img class='profile-img' src='{{actor.img}}' data-edit='img' data-action='onEditImage' data-tooltip='{{actor.name}}'
      height='216' width='216' />
  </div>
</div>