.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    flex: 1;
  }
}

.sheet-tabs {
  flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%;
}

.tab.biography {
  flex: 1;

  .editor {
    height: 100%;
  }
}

.tox {
  .tox-editor-container {
    // background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

div.item-title label {
  font-weight: bold;
  text-transform: uppercase;
}

div.item-details {
  display: flex;
  // position: relative;
  gap: 5px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  img {
    margin-left: 10px;
    z-index: 2;
    border: 2px solid black;
    margin-top: -2px;
  }

  div.img {
    width: 31px;
    // position: absolute;
    margin-left: 15px;
    border-image-slice: 5 fill;
    border-image-width: 5px;
    border-image-outset: 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url(../assets/components/img-line.webp);
    z-index: 2;

    img {
      mask-image: url(../assets/components/img-line-mask.webp);
      z-index: 1;
    }
  }

  label:first-of-type {
    padding-left: 47px;
    margin-left: -47px;
    flex: 1 1 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  label:nth-of-type(2) {
    @extend .small;
    text-align: center;
  }
}

%item-with-value {
  height: 150px;


}

.scrollable {
  margin-right: unset;
}